$color-primary: #00ba4e;
$color-primary-dark: #023430;
$color-primary-light: #00ed64;

$color-secondary: #58546e;
$color-secondary-dark: #241f42;
$color-secondary-light: #58546e;

$color-light-gray: #e5e6e8;

$color-background-light: #f9fafc;
