@import "../../sass/global.scss";

.res-page {
  background-color: $color-background-light;
}

.reservation-container {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 240px);

  @media (max-height: 900px),
         (max-width: 1050px) {
    flex-direction: column;
    padding: 3rem 2rem;
  }
}

.res-info {
  margin-right: 2rem;

  @media (max-height: 900px),
         (max-width: 1050px) {
    text-align: center;
    margin: 0rem 0rem 3rem 0rem;
  }
}

.res-info__heading {
  @include heading;
  font-size: 4rem;
  margin-bottom: 1.5rem;
  max-width: 550px;

  @media (max-height: 900px),
         (max-width: 1050px) {
    margin: auto;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 630px) {
    font-size: 3rem;
  }

  @media (max-width: 300px) {
    font-size: 2.2rem;
  }
}

.res-info__paragraph {
  margin-bottom: 2rem;
}



.res-form {
  box-shadow: 0 6px 6px rgba(0,0,0,0.12);
  background-color: rgb(255, 255, 255);
  padding: 2.2rem 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 300px) {
    width: 100vw;
    padding: 2.2rem 1rem;
  }
}

.res-form__heading {
  @include heading;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.res-form__input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 0.9rem;
  margin-top: 0.35rem;
  margin-bottom: 1.5rem;
  background-color: lighten($color-light-gray, 8%);
  border: 1px solid gray;
}

.res-form__span-err {
  font-size: 0.8rem;
  color: red;
}

.res-form__calendar {
  margin: 1.5rem 0rem;
  height: 274px;
}

.res-form__btn {
  margin: auto;
  text-align: center;
}
